
.icon-home-2:before { content: '\e800'; } /* '' */
.icon-help:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-globe-1:before { content: '\e804'; } /* '' */
.icon-like:before { content: '\e805'; } /* '' */
.icon-dislike:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-mobile:before { content: '\e808'; } /* '' */
.icon-email-1:before { content: '\e809'; } /* '' */
.icon-email-2:before { content: '\e80a'; } /* '' */
.icon-clock:before { content: '\e80b'; } /* '' */
.icon-settings-1:before { content: '\e80c'; } /* '' */
.icon-gplus:before { content: '\e80d'; } /* '' */
.icon-flash:before { content: '\e80e'; } /* '' */
.icon-cloud:before { content: '\e80f'; } /* '' */
.icon-users:before { content: '\e810'; } /* '' */
.icon-umbrella:before { content: '\e811'; } /* '' */
.icon-youtube:before { content: '\e812'; } /* '' */
.icon-airport:before { content: '\e813'; } /* '' */
.icon-bus:before { content: '\e814'; } /* '' */
.icon-bicycle:before { content: '\e815'; } /* '' */
.icon-golf:before { content: '\e816'; } /* '' */
.icon-fire:before { content: '\e817'; } /* '' */
.icon-aboveground-rail:before { content: '\e818'; } /* '' */
.icon-download:before { content: '\e819'; } /* '' */
.icon-upload:before { content: '\e81a'; } /* '' */
.icon-user:before { content: '\e81b'; } /* '' */
.icon-book:before { content: '\e81c'; } /* '' */
.icon-contacts:before { content: '\e81d'; } /* '' */
.icon-vcard:before { content: '\e81e'; } /* '' */
.icon-ok:before { content: '\e81f'; } /* '' */
.icon-list:before { content: '\e820'; } /* '' */
.icon-comment:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-paint:before { content: '\e823'; } /* '' */
.icon-home-1:before { content: '\e824'; } /* '' */
.icon-basket:before { content: '\e825'; } /* '' */
.icon-sun:before { content: '\e826'; } /* '' */
.icon-cloud-sun:before { content: '\e827'; } /* '' */
.icon-cloud-moon:before { content: '\e828'; } /* '' */
.icon-cloud-flash:before { content: '\e829'; } /* '' */
.icon-rain:before { content: '\e82a'; } /* '' */
.icon-beer:before { content: '\e82b'; } /* '' */
.icon-ferry:before { content: '\e82c'; } /* '' */
.icon-fast-food:before { content: '\e82d'; } /* '' */
.icon-location:before { content: '\e82e'; } /* '' */
.icon-fuel:before { content: '\e82f'; } /* '' */
.icon-giraffe:before { content: '\e830'; } /* '' */
.icon-lodging:before { content: '\e831'; } /* '' */
.icon-library:before { content: '\e832'; } /* '' */
.icon-plus:before { content: '\e833'; } /* '' */
.icon-minus:before { content: '\e834'; } /* '' */
.icon-swimming:before { content: '\e835'; } /* '' */
.icon-skiing:before { content: '\e836'; } /* '' */
.icon-soccer:before { content: '\e837'; } /* '' */
.icon-wait-1:before { content: '\e838'; } /* '' */
.icon-wait-2:before { content: '\e839'; } /* '' */
.icon-tennis:before { content: '\e83a'; } /* '' */
.icon-toilet:before { content: '\e83b'; } /* '' */
.icon-plus-1:before { content: '\e83c'; } /* '' */
.icon-trash:before { content: '\e83d'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-globe-2:before { content: '\f018'; } /* '' */
.icon-github:before { content: '\f056'; } /* '' */
.icon-folder-open:before { content: '\f068'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-wheelchair:before { content: '\f193'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-gallery:before { content: '\f1c5'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-settings-2:before { content: '\f1de'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-visa:before { content: '\f1f0'; } /* '' */
.icon-paypal:before { content: '\f1f4'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-map:before { content: '\f278'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-twitter:before { content: '\f303'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-dropbox:before { content: '\f330'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-picasa:before { content: '\f345'; } /* '' */
.icon-folder-open-empty:before { content: '\f4c2'; } /* '' */
.icon-camera:before { content: '\f4f7'; } /* '' */